# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

### Gradle ###
.gradle
build/

### macOS ###
.DS_Store
.AppleDouble
.LSOverride

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
# gradle/wrapper/gradle-wrapper.properties

### Gradle Patch ###
**/build/
logs/

Secret.java
